<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- th:fragment     -->
    <th:block th:insert="/fragments/head :: headOutterLink" />

    <!--css-->
    <link rel="stylesheet" href="/css/product/get.css">

    <style>

        <!-- +++++++++++++++++++++++++++++++++++++++++ 상품 이미지+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                section>.page-top>.page-top-one>img {
                   max-width: 100%;
                   height: auto;
                   display: block;
                   margin: 0 auto;
               }

               aside>.thing>.thing-left>.thing-left-in {
                   max-width: 100%;
                   height: auto;
                   display: block;
                   margin: 0 auto;
                   border-bottom: 1px solid;
                   border-top: 1px solid;


               }

    </style>
</head>
<body>
<!--  header fragment      -->
<div th:replace="/fragments/header :: headerFragment" />

<!-- +++++++++++++++++++++++++++++++++++++++++ get 추가된 부분+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<section>
    <!-- ++++++++++++++++++++++++++++++++ 메인 상품 이미지 +++++++++++++++++++++++++++++++++++++++++++ -->
    <article class="page-top">
        <div class="page-top-one">
            <!-- <div class="page-goods"></div> -->
            <img src="img/kakao_icon.webp" alt="">
        </div>
        <!-- <div class="page-top-two">다른 사진</div> -->
    </article>
    <!-- ++++++++++++++++++++++++++++++++ 구매 +++++++++++++++++++++++++++++++++++++++++++ -->
    <article class="page-bottom" style="">
        <div class="page-box-one" style="">
            <ul>
                <li class="page-one-top">LG전자 LG그램 13세대16ZD90RU-GX56K SSD 256GB/16G/대화면 휴대용 가벼운노트북/4종사은품증정_</li>
                <li class="page-one-bottom" style="display: flex;">
                    <div class="material-symbols-outlined">star</div>
                    <div class="material-symbols-outlined">star</div>
                    <div class="material-symbols-outlined">star</div>
                    <div class="material-symbols-outlined">star</div>
                    <div class="material-symbols-outlined">star</div>
                </li>
            </ul>
        </div>
        <div class="page-box-two" style="">
            <div>1,590,000원</div>
            <ul style="">
                <li class="page-two-discount">1,467,300원</li>
                <li class="page-two-link" style="display: flex;">
                    <div class="material-symbols-outlined">favorite</div>
                    <div class="material-symbols-outlined">share</div>
                </li>
            </ul>
        </div>
        <div class="page-box-three" style="">
            <div style="margin-right: 0px; width: 70px; font-weight: bold; font-size: 18px;">배송비</div>
            <div style="font-size: 30px;" class="material-symbols-outlined">local_shipping</div>
            <div style="display: flex; text-align: right;">
                <div style="width: 350px;">3000원</div>
            </div>
        </div>
        <div class="page-box-four" style="">
            <input type="button" style="" value="장바구니">
            <input type="button" style="" value="구매하기">
        </div>
    </article>
</section>
<!-- ++++++++++++++++++++++++++++++++ 상세 내용 +++++++++++++++++++++++++++++++++++++++++++ -->
<aside class="page-center">
    상세 내용
</aside>
<aside class="page-two">
    <!-- ++++++++++++++++++++++++++++++++ 상품 페이지 +++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="thing">
        <div class="thing-left" id="thing-img-id" style="">
            <img src="img/test.JPG"  alt="" class="thing-left-in">
        </div>
        <div class="thing-center">
            <input type="button" id="thing-btn" value="자세히 보기">
        </div>
    </div>
    <!-- ++++++++++++++++++++++++++++++++ 장바구니 +++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="page-tow-box">
        <div class="thing-right" style="">
            <div class="thing-box-onw" style="">
                <div>
                    선택 물건
                </div>
            </div>
            <div class="thing-box-two">
                <input type="button" value="장바구니">
            </div>
            <div class="thing-box-three">
                <input type="button" value="구매하기">
            </div>
        </div>
    </div>
</aside>
<footer style="">

</footer>
</div>
<!-- ++++++++++++++++++++++++++++++++ 장바구니 스크롤 +++++++++++++++++++++++++++++++++++++++++++ -->
<script>
    window.addEventListener('scroll', function () {
        const fixedBox = document.querySelector('.page-tow-box');
        const scrollY = window.scrollY;
        const yThreshold = 1100; // 특정 y측 위치

        if (scrollY >= yThreshold) {
            fixedBox.style.top = `${scrollY - yThreshold}px`;
        } else {
            fixedBox.style.top = '0';
        }
    });
</script>

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

<!--    const updateProduct = () => {-->
<!--    const no = document.getElementById('product-No').textContent;-->
<!--        if(confirm("상품내용을 수정하시겠습니까?")){-->
<!--            axios.delete('/product/update/'+no)-->
<!--            .then(respons => {-->

<!--                window.location.href = '/product/update';-->
<!--            })-->
<!--            .catch(error=>{-->
<!--                alert('상품수정에 문제가 발생했습니다.'+error);-->
<!--            });-->

<!--        }-->
<!--    };-->

</script>

</body>
</html>