<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>상품 등록 페이지</h1>

<!--  BS5  -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<form id="product-set-form" action="/product/set" method="post" enctype="multipart/form-data">
    <div>
        <label for="form-author">작성자</label>
        <input type="text" name="prodauthor" id="form-author" th:value="${#authentication.name}" readonly>
    </div>
    <div>
        <label for="form-title">제목</label>
        <input type="text" name="prodname" id="form-title">
    </div>
    <div>
        <label for="form-text">내용</label>
        <textarea type="text" name="prodcontext" id="form-text"></textarea>
    </div>
    <div>
        <label for="form-select">분류</label>
        <select name="prodtype" id="form-select">

        <option value="cpu">CPU</option>
        <option value="motherboard">메인보드</option>
        <option value="memory">메모리</option>
        <option value="gpu">그레픽카드</option>
        <option value="ssd">SSD</option>
        <option value="hdd">HDD</option>
        <option value="case">케이스</option>
        <option value="power">파워</option>
        </select>
    </div>
    <div>
        <label for="form-image-input">이미지 선택</label>
        <input type="file" name="files" id="form-image-input" multiple>
    </div>
        <button>등록</button>
</form>

<div id="set-preview">


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    //전역 폼데이터
    let formData = new FormData();
    //메인 이미지 인덱스 저장용
    let selected;



    //미리보기가 생성될 위치
    const set_previewEl = document.getElementById('set-preview');
    //폼 데이터 받아오기
    const product_set_form = document.getElementById('product-set-form')

    //폼 전송
    product_set_form.addEventListener('submit', function(){
        event.preventDefault()
        //원본 formData
        getformData = new FormData(product_set_form);

        // getformData에서 복사할 키들
        let keynames = ['prodname', 'prodcontext','prodtype','prodauthor'];

        // getformData에서 값을 가져와서 전역formData로 복사
        for (let key of keynames) {
        let value = getformData.get(key);
        if (value !== null) {
         formData.append(key, value);
         };
      };

      //만약 메인 이미지 선택을 했을경우
      //다시다 꺼내서 순서를 새로 맞춰준다.
      if(!(selected==undefined)){

        const imgs = formData.getAll('files');
        formData.delete('files');

        formData.append('files', imgs[selected]);

        for(let i=0;i<imgs.length;i++){
            if(i == selected){

            }else{
                formData.append('files',imgs[i]);
            }
        };

      };



        //완성된 formData 를 서버로 전송
        axios.post('/product/set',formData,{headers: {'Content-Type' : 'multipart/form-data' }})
            .then(response =>{
                alert("ok")
                window.location.href="/product/index";
            } )
            .catch(error =>{alert("fail");
            location.reload();
            });


    })

    //이미지 업로드
    document.getElementById('form-image-input').addEventListener('change', function(imgput){

        const imgFiles = imgput.target.files;

    for(let i=0;i<imgFiles.length;i++){
        formData.append('files',imgFiles[i])
    }

       //이미지 프리뷰 생성 시작
       getpreview();


    });

      //이미지 프리뷰 생성
    const getpreview = () => {

        const imgs = formData.getAll('files');
        for(let i=0;i<imgs.length;i++){

            var preview = document.createElement('div');
            preview.className = 'previews';
            preview.style.width = '150px';
            preview.style.height = '150px';
            preview.style.position = 'relative';

            var cutimg = document.createElement('a')
            cutimg.className = 'cutimgs';
            cutimg.href = "javascript:void(0)";
            cutimg.style.position = 'absolute';
            cutimg.style.top = '5%';
            cutimg.style.right = '5%';
            cutimg.style.border = '2px solid red';
            cutimg.style.width = '5px';
            cutimg.style.height = '5px';

            var viewimg = document.createElement('img');
            viewimg.className = 'view-img';
            viewimg.style.width = '150px';
            viewimg.style.height = '150px';

            preview.appendChild(viewimg);
            preview.appendChild(cutimg);
            set_previewEl.appendChild(preview);

        }

        //업로드 이미지를 불러오기 시작
        onreaderimg();
        //메인 이미지 선택 리스너 시작
        selectMainimgListener();
        //이미지 제외 리스너 시작
        cutimgListener();
    }

    //업로드 이미지를 불러오기
    //혼자 비동기로 돌아가서 이미지 프리뷰 틀 생성과 개별적으로 동작함
    const onreaderimg = ()  => {
<!--        const formData = new FormData(product_set_form);-->
        const imgs = formData.getAll('files');
        const viewimgEl = document.querySelectorAll('.view-img');

        viewimgEl.forEach((imgno,index)=>{

            const reader = new FileReader();

            reader.readAsDataURL(imgs[index]);
            reader.onload = function(item){

            imgno.setAttribute('src',item.target.result);

            }

        })

    }


    //이미지 제외 리스너
    const cutimgListener = ()=> {

        const cutimgEl = document.querySelectorAll('.cutimgs');
        cutimgEl.forEach((item,index)=>{

            item.addEventListener('click',function(){
                console.log(index+"번째 이미지 클릭됨!");
                const imgs = formData.getAll('files');


                formData.delete('files');


                for(let i=0;i<imgs.length;i++){

                    console.log("index = "+index+" i = "+i);

                    if(!(index == i)){
                    console.log("index = "+index+" i = "+i+"통과");
                        formData.append('files',imgs[i]);
                    }

                }

                const oldpreviews = document.querySelectorAll('.previews');
                oldpreviews.forEach(preview => {
                preview.parentNode.removeChild(preview);
                });

                getpreview();

            })

        });

    }

    //메인 이미지 선택 리스너
    const selectMainimgListener = () => {
        const viewimgEl = document.querySelectorAll('.view-img');


        viewimgEl.forEach((item,index)=>{
            item.addEventListener('click',function(){
                console.log(index+"번째 이미지 선택됨!");

                selected = index;

                    viewimgEl.forEach((item,index)=>{
                    if(index == selected){
                        item.style.border = '5px solid green';
                    }else{
                        item.style.border = '1px solid black';
                    }

                });

            });

        });



    };




</script>

</body>
</html>